.calendar_frame
  .day_name
    %p M
    %p W
    %p F
  #visible_calendar
    #hidden_calendar
      #month
        - calendar_month_name(@task)
      - if !@task.days.first.date.sunday?
        #week
          - @task.days.first.date.wday.times do
            .invisible_day
          - @task.days.each do |day|
            - if day.date.sunday?
              #week
                = div_day(day, @task)
                - if day.date.saturday? || (day == @task.days.last)
