$("#month_select_menu").html("#{j render 'month_select_menu'}")
$("#charts").html("#{j render(partial: 'charts', locals: {part_days: @month, part_active_days: @active_days_of_month, remaining_time: @month})}")
init_overall_stats()
