<% title("Task - #{@task.name.capitalize}") %>
	
<h2><%= "#{@task.name.capitalize}" %></h2>

<%= render 'shared/calendar' %>

<%= render partial: 'shared/content_menu_links', layout: 'shared/content_menu' %>
