<% title(current_user.name.capitalize) %>
<div>
	<h1><%= current_user.name %></h1>
	<h2><%= current_user.tasks.count %></h2>



	<div id="table_of_days">

		<div id="week">
			<% current_user.tasks.last.days.first.date.wday.times do %>
			<div class="invisible_day"></div>
			<% end %>


	<% current_user.tasks.last.days.each do |day| %>
		<% if day.date.sunday? %>
		<div id="week">
		<% end %>
			<div class="day">
			<%= day.date.strftime("%d") %>
			</div>
		<% if day.date.saturday? || (day == current_user.tasks.last.days.last) %>
		</div>
		<% end %>
	<% end %>
	</div>

</div>
