.calendar_frame
  .day_name
    %p M
    %p W
    %p F
  #visible_calendar
    #hidden_calendar
      #month
        - calendar_month_name(@task)
      - weeks = [[]]
      - @task.days.each { |d| d.date.sunday? ? weeks.push([].push(d)) : weeks.last.push(d) }
      - weeks.each_with_index do |week, idx|
        #week
          - if idx == 0
            - @task.days.first.date.wday.times do
              .invisible_day
          - week.each do |day|
            = div_day(day, @task)