%ul.nav.navbar-nav
  %li.nav_li= link_to "overall stats", overall_stats_task_path(@task.id), remote: true, id: "overall-stats"
  %li.nav_li= link_to "month stats", month_stats_task_path(@task.id), remote: true, id: "month-stats"
