<ul class="nav navbar-nav">
	<li class="nav_li"><%= link_to "stats task", '#' %></li>
	<li class="nav_li"><%= link_to "selected month", '#' %></li>
	<li class="nav_li"><%= link_to "selected week", '#' %></li>
</ul>