<ul class="nav navbar-nav">
	<li class="nav_li"><%= link_to "overall stats", overall_stats_task_path(@task.id) %></li>
	<li class="nav_li"><%= link_to "month stats", month_stats_task_path(@task.id) %></li>
</ul>