$izibalo: #3a963a;

html {
  min-height: 100%;
  position: relative;
}

body {
	background: #2e3137;
	font-family: sans-serif;
	margin-bottom: 150px;
	overflow-y: scroll
}

h1, h2, h3, h4, h5, h6 {
color: #fff;
text-align: center;
}

select {
color: #000;
}

input[type='range'] {
  -webkit-appearance: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #333;
  background-color: #999;
  height: 14px;
  vertical-align: middle;
  overflow: hidden;
  &::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    background-color: #999;
    height: 14px;
    border: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 3px;
    background-color: #FFF;
    border: none;
    height: 10px;
    width: 20px;
  }
  &::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 3px;
    background-color: #FFF;
    border: none;
    height: 10px;
    width: 20px;
  }
}

pre {
	margin: 0 auto 10px;
 	width: 35%;
 }

 #logo {
 	float: left;
 	font-size: 3.2em;
 	text-transform: uppercase;
 	font-weight: bold;
 	text-decoration: none;
  margin: 0 0 0 18px;
 	color: $izibalo;
 	&:hover {
 		color: #49a549;
 		text-shadow: 0px 0px 2px rgba(11, 173, 0, 1);
 	}
 }

.navbar-toggle {
  margin-top: 15px
}

.nav {
  margin: 20px 0 0 0;
}

 .nav_li > a {
  padding: 12px !important;
 }

 .navbar-inverse {
 	background-color: #111;
 	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 18px;
 }

 .footer-style {
  bottom: 0;
  position: absolute;
  height: 150;
  width: 100%;
 	background-color: #111;
 	border-top: 1px solid rgba(255, 255, 255, 0.3);
 }

//..................................................................bootstrap customize

 .btn-nav {
 	background: #333;
 	border: 1px solid rgba(20, 20, 20, 0.5);
 }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #777777;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #888888;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #666;
}

.navbar-collapse {
    box-shadow: none;
}

.dropdown-menu {
  background-color: #ffffff !important;
}

tr {
  font-size: 1.5em;
  color: white;
}

tr:hover td{
  background-color: #3e3f44;
}

//..................................................................


 #login {
 	height: 100%;
 	width: 10%;
 	margin: 10px auto;
 	border-radius: 10px;
 	background: #F5F5F5	;	
 	text-align: center;
 }

 .center {
 	margin: 15px auto;
 	text-align: center;
 }

 .top_buffer { margin-top:20px; }

 .left_buffer { margin-left: 125px; }

 #container{
	margin: 0 auto;
	width: 80%;
	padding: 10px;
	border: 1px solid #fff;
}

.form {
	margin: 0 auto !important;
	padding: 10px;
	width: 30%;
	color: white;
}

.frame_of_calendar {
  height: 270px;
}

#visible_calendar {
    height: 270px;
    padding-left: 0px;
    margin-left: 28px;
    margin-right: 28px;
}

#hidden_calendar {
  white-space: nowrap;
  display: inline-block;
}

#week {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0px;
}

.day {
  height: 28px;
  width: 28px;
  margin-top: 4px;
  background-color: white;
}

.editable_day {
  &:hover{
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    inset 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         inset 0px 0px 30px 0px rgba(50, 50, 50, 0.3);
  }
}

.target {
  height: 28px;
  width: 28px;
  margin: 4px 0;
  background-color: #d9534f;
  cursor: pointer;
}

.invisible_day {
  height: 28px;
  width: 28px;
  margin: 4px 0;
  background: transparent;
}

.nicescroll-rails {
  border-radius: 5px;
  margin: 0;

}

#month {
    height: 28px;
    background: transparent;
    margin: 0 0 0 0px;
}

.month_name {
  float: left;
  width: 28px;
  margin-right: 4px;
  font-size: 1.3em;
  color: white;
}

.day_name {
  position: absolute;
  height: 252px;
  width: 28px;
  padding: 28px 0 0;
  z-index: 999;
  font-size: 1.3em;
  color: white;
  background: #2e3137;
  p {
    height: 28px;
    margin: 36px 0 0;
    text-align: center;
  }
}

.calendar_frame {
  position: relative;
  height: 270px;
}

.table_tasks {
  tr {
    cursor: pointer;
    td {
      font-size: 0.7em;
      vertical-align: middle !important;
    }
    .task_name {
        font-size: 1em;
      }
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

text[text-anchor="middle"]{
  fill: #B2B2B2;
}


